.mainContainer {
  display: flex;
}

.formHeader {
  font-size: 20px;
  margin: 85px 0 20px 0;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 25vw;
}

.fullCalendarUI {
  height: 100vh;
  padding: 20px 50px 0 0;
  width: 80vw;
}
